# Q1.3 - Data Preprocessing

### First we need to load the data

In [6]:
# Load data from parquet file
import pandas as pd
import numpy as np
from project_1.config import PROJ_ROOT, PROCESSED_DATA_DIR

sets_dict = {}
sets = ["a", "b", "c"]

for set_name in sets:
    directory = PROCESSED_DATA_DIR / f"set_{set_name}.parquet"
    temp_set = pd.read_parquet(directory)
    sets_dict[f"set_{set_name}"] = temp_set

# Assure the loading was correct
print(sets_dict["set_a"].shape)
sets_dict["set_a"].head(10)

(183416, 43)

,RecordID,Time,Age,BUN,Creatinine,GCS,Gender,Glucose,HCO3,HCT,...,PaCO2,PaO2,pH,DiasABP,MAP,SaO2,SysABP,Lactate,Cholesterol,TroponinI
0,132539.0,2025-03-10 00:00:00,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,132539.0,2025-03-10 01:00:00,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,132539.0,2025-03-10 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,132539.0,2025-03-10 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,132539.0,2025-03-10 04:00:00,NaN,NaN,NaN,15.0,NaN,NaN,NaN,33.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,132539.0,2025-03-10 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,132539.0,2025-03-10 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,132539.0,2025-03-10 08:00:00,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,132539.0,2025-03-10 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,132539.0,2025-03-10 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Step 1 - Use Forward Filling imputation (use only Set A for now)

In [7]:
df = sets_dict["set_a"]

# Ensure the DataFrame is sorted by RecordID and Time
df.sort_values(by=["RecordID", "Time"], inplace=True)

# Get a list of all columns except "RecordID" and "Time"
other_cols = [col for col in df.columns if col != "RecordID" and col != "Time"]

# Group by RecordID and apply forward fill for each group.
df[other_cols] = df.groupby("RecordID")[other_cols].ffill()

# Display the first 10 rows to check the result
df.head(10)

,RecordID,Time,Age,BUN,Creatinine,GCS,Gender,Glucose,HCO3,HCT,...,PaCO2,PaO2,pH,DiasABP,MAP,SaO2,SysABP,Lactate,Cholesterol,TroponinI
0,132539.0,2025-03-10 00:00:00,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,132539.0,2025-03-10 01:00:00,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,132539.0,2025-03-10 02:00:00,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,132539.0,2025-03-10 03:00:00,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,132539.0,2025-03-10 04:00:00,54.0,NaN,NaN,15.0,0.0,NaN,NaN,33.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,132539.0,2025-03-10 05:00:00,54.0,NaN,NaN,15.0,0.0,NaN,NaN,33.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,132539.0,2025-03-10 06:00:00,54.0,NaN,NaN,15.0,0.0,NaN,NaN,33.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,132539.0,2025-03-10 08:00:00,54.0,NaN,NaN,15.0,0.0,NaN,NaN,33.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,132539.0,2025-03-10 09:00:00,54.0,NaN,NaN,15.0,0.0,NaN,NaN,33.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,132539.0,2025-03-10 10:00:00,54.0,NaN,NaN,15.0,0.0,NaN,NaN,33.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Success, the values are being forwarded. Keep in mind that this can be altered in the future

# Step 2 - Scale the data

In [15]:
from sklearn.preprocessing import StandardScaler, RobustScaler

# Get the columns to scale
cols_to_scale = [col for col in df.columns if col not in ["RecordID", "Time", "Gender"]]

# Define scaler
### However, we will need to use a different scaler for each column, based on whether it is normally-distributed or not
### For normally-distributed columns, we use the StandardScaler
### For non-normally-distributed columns, we use the RobustScaler

#! AGE COULD BE DONE WITH MIN-MAX
nd_cols = ["Height", "Weight", "Age", "Albumin", "Cholesterol", "DiasABP", "HCO3", "HCT", "HR", "Mg", "MAP", "Na", "NIDiasABP", "NIMAP", "NISysABP", "SysABP", "PaCO2", "PaO2", "Platelets", "RespRate", "Temp"]
nnd_cols = [col for col in cols_to_scale if col not in nd_cols]

scaler_nd = StandardScaler()
scaler_nnd = RobustScaler()

# Fit and then transform the scaler
scaled_values_nd = scaler_nd.fit_transform(df[nd_cols])
scaled_values_nnd = scaler_nnd.fit_transform(df[nnd_cols])

# Convert the scaled arrays to DataFrames (preserve the original index)
df_scaled_nd = pd.DataFrame(scaled_values_nd, columns=nd_cols, index=df.index)
df_scaled_nnd = pd.DataFrame(scaled_values_nnd, columns=nnd_cols, index=df.index)

# Combine both scaled DataFrames along the columns axis
df_scaled = pd.concat([df_scaled_nd, df_scaled_nnd], axis=1)

# Option 2: If you only want to include a selected subset of unmodified columns along with the scaled columns, use:
df_final = pd.concat([df[["RecordID", "Time", "Gender"]], df_scaled], axis=1)

df_final.head(20)

,RecordID,Time,Gender,Height,Weight,Age,Albumin,Cholesterol,DiasABP,HCO3,...,ALP,ALT,AST,Bilirubin,FiO2,MechVent,pH,SaO2,Lactate,TroponinI
0,132539.0,2025-03-10 00:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,132539.0,2025-03-10 01:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,132539.0,2025-03-10 02:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,132539.0,2025-03-10 03:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,132539.0,2025-03-10 04:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,132539.0,2025-03-10 05:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,132539.0,2025-03-10 06:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,132539.0,2025-03-10 08:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,132539.0,2025-03-10 09:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,132539.0,2025-03-10 10:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,132539.0,2025-03-10 11:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,132539.0,2025-03-10 12:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,132539.0,2025-03-10 13:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,132539.0,2025-03-10 14:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,132539.0,2025-03-10 15:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,132539.0,2025-03-10 16:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,132539.0,2025-03-10 17:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,132539.0,2025-03-10 18:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,132539.0,2025-03-10 19:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,132539.0,2025-03-10 20:00:00,0.0,-1.060851,-2.575945,-0.596332,NaN,NaN,NaN,0.556417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN